<div class='unclickable'>
  <div class='_1zpr _dcs _4_w4 _59ap' data-ft='{"tn":"H"}' id='u_0_3'>
    <div class='clearfix _2r3x'>
      <span class='_3m6-'>
        <div class='_6l- __c_'>
          <div class='uiScaledImageContainer _6m5 fbStoryAttachmentImage' style='width:526px;height:274.68888888889px;'>
            <img alt='' class='scaledImageFitWidth img' height='275' src=' https://external-sit4-1.xx.fbcdn.net/safe_image.php?d=AQAje_UbPm5KmZWz&w=526&h=296&url=https%3A%2F%2Fwww.digitalocean.com%2Fassets%2Fmedia%2Flogo-9c4ce95a.png&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_eui2=v1%3AAeH2dsBhhg3l2tqsMrarf_ghKoOV4-4-ud68pbXY-59I27iDpZHgEd6R1XeyXWL3Q4GFRD7KEYX3TiQx1Ui_7bMYzK8CrhYHxp64YgVP0O8HUg&_nc_hash=AQCVfLQ9BP-w2AjU'style='top:0px;' width='526'>
          </div>
        </div>
      </span>
      <div class='_3ekx _29_4'>
        <div class='_6m3 _--6'>
          <div class='mbs _6m6 _2cnj _5s6c'>
            DigitalOcean: Cloud Computing, Simplicity at Scale
          </div>
          <div class='_6m7 _3bt9'>
           Providing developers and businesses a reliable, easy-to-use cloud computing platform of virtual servers (Droplets), object storage ( Spaces), and more. )
          </div>
          <div class='_59tj _2iau'>
            <div>
              <div class='_6lz _6mb _1t62 ellipsis'>
               digitalocean.com
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
 </div>
 
 



 <!---->


 
 <div class="unclickable">
   <div>
    <div>
      <div>
        <div id="u_0_3" class=" _1zpr  _dcs _4_w4 _59ap " data-ft="{&quot;tn&quot;:&quot;H&quot;}">
          <div class="clearfix _2r3x">
            <div class="lfloat _ohe">
              <span class="_3m6-">
                <div class="_6ks">
                  
                    <div class="_6l- __c_">
                      <div class="uiScaledImageContainer _6m5 fbStoryAttachmentImage" style="width:526px;height:274.68888888889px;">
                        <img class="scaledImageFitWidth img" src="https://external-sit4-1.xx.fbcdn.net/safe_image.php?d=AQAje_UbPm5KmZWz&w=526&h=296&url=https%3A%2F%2Fwww.digitalocean.com%2Fassets%2Fmedia%2Flogo-9c4ce95a.png&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_eui2=v1%3AAeH2dsBhhg3l2tqsMrarf_ghKoOV4-4-ud68pbXY-59I27iDpZHgEd6R1XeyXWL3Q4GFRD7KEYX3TiQx1Ui_7bMYzK8CrhYHxp64YgVP0O8HUg&_nc_hash=AQCVfLQ9BP-w2AjU" style="top:0px;" alt="" width="526" height="275">
                      </div>
                    </div>
                  </div>
                <div class="_3ekx _29_4">
                  <div class="_6m3 _--6">
                    <div class="mbs _6m6 _2cnj _5s6c">
                      
                        DigitalOcean: Cloud Computing, Simplicity at Scale
                    </div>
                    <div class="_6m7 _3bt9">Providing developers and businesses a reliable, easy-to-use cloud computing platform of virtual servers (Droplets), object storage ( Spaces), and more. )
                    </div>
                    <div class="_59tj _2iau">
                      <div>
                        <div class="_6lz _6mb _1t62 ellipsis">digitalocean.com
                        </div>
                        <div class="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </span>
            </div>
            <div class="_42ef">
              <span class="_3c21"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="unclickableMask">
   <div>
     
   </div>
</div>




<strong> for html</strong>
<div style="width: 526px">
<div class='unclickable'>
  <div class='_1zpr _dcs _4_w4 _59ap' data-ft='{"tn":"H"}' id='u_0_3'>
    <div class='clearfix _2r3x'>
      <span class='_3m6-'>
        <div class='_6l- __c_'>
          <div class='uiScaledImageContainer _6m5 fbStoryAttachmentImage' style='width:526px;height:274.68888888889px;'>
            <img alt='' class='scaledImageFitWidth img' height='275' src=' https://external-sit4-1.xx.fbcdn.net/safe_image.php?d=AQAje_UbPm5KmZWz&w=526&h=296&url=https%3A%2F%2Fwww.digitalocean.com%2Fassets%2Fmedia%2Flogo-9c4ce95a.png&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_eui2=v1%3AAeH2dsBhhg3l2tqsMrarf_ghKoOV4-4-ud68pbXY-59I27iDpZHgEd6R1XeyXWL3Q4GFRD7KEYX3TiQx1Ui_7bMYzK8CrhYHxp64YgVP0O8HUg&_nc_hash=AQCVfLQ9BP-w2AjU'style='top:0px;' width='526'>
          </div>
        </div>
      </span>
      <div class='_3ekx _29_4'>
        <div class='_6m3 _--6'>
          <div class='mbs _6m6 _2cnj _5s6c'>
            DigitalOcean: Cloud Computing, Simplicity at Scale
          </div>
          <div class='_6m7 _3bt9'>
           Providing developers and businesses a reliable, easy-to-use cloud computing platform of virtual servers (Droplets), object storage ( Spaces), and more. )
          </div>
          <div class='_59tj _2iau'>
            <div>
              <div class='_6lz _6mb _1t62 ellipsis'>
               digitalocean.com
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="_3x-2" data-ft="{&quot;tn&quot;:&quot;H&quot;}"><div data-ft="{&quot;tn&quot;:&quot;H&quot;}"><div class="mtm"><div id="u_fetchstream_5_5" class="_6m2 _1zpr clearfix _dcs _4_w4 _5cwb _2bf7" data-ft="{&quot;tn&quot;:&quot;H&quot;}"><div class="clearfix _2r3x"><div class="lfloat _ohe"><span class="_3m6-">
    <div class="_6ks">
      <a href="https://l.facebook.com/l.php?u=http%3A%2F%2Fwww.nytimes.com%2F&amp;h=ATNkn0N_yTQ13Ax5XEBpiqYeiRjC0s4VA57qon3AunGqD3hvln9wq8k4uowb5HCPyu0ovQM_GF8AUOY0fsMivPbP6gXY0Uz8N8MhCyBKeeztRnsoxw" tabindex="-1" target="_blank" rel="noopener nofollow" data-lynx-mode="asynclazy">
        <div class="_6l- __c_">
          <div class="uiScaledImageContainer _6m5 fbStoryAttachmentImage" style="width:158px;height:158px;">
            <img class="scaledImageFitWidth img" src="https://external-sit4-1.xx.fbcdn.net/safe_image.php?d=AQBXaT9pWmAp3EU2&amp;w=160&amp;h=160&amp;url=https%3A%2F%2Fstatic.nytimes.com%2Fimages%2Ficons%2Ft_logo_291_black.png&amp;cfs=1&amp;upscale=1&amp;fallback=news_d_placeholder_publisher&amp;_nc_eui2=v1%3AAeEEmhxDwUZC11gjb69JGvzCoZVkYY7fLCR2qXgPsBSrNqzjZ3EkhygVFPEXhJ1UK4i6VDf9KlvXP2UlooTwZuh-WiSjiPJ2aZQKyws_yoYVCg&amp;_nc_hash=AQA-UZteRnywmcw7" alt="" width="158" height="158"></div>
          </div>
        </a>
      </div>
    </span>
  </div>
<div class="_42ef">
  <span class="_3c21">
    <div class="_3ekx _29_4" style="width: 334px; float: right;">
      <div class="_6m3 _--6">
        <div class="mbs _6m6 _2cnj _5s6c">
          <a href="https://l.facebook.com/l.php?u=http%3A%2F%2Fwww.nytimes.com%2F&amp;h=ATNpSIhlcx9jpmVbo-9ULaMmrDFwA23wmoJPPvcQd79mrO1L3FiBDjeohKlCr3d6AmT2HjRpnRi_fWIOLehGrRs394tjje0Wg2vARe-y8DgVHBcgXQ" rel="noopener nofollow" target="_blank" data-lynx-mode="asynclazy">Breaking News, World News &amp; Multimedia
          </a>
        </div>
        <div class="_6m7 _3bt9">The New York Times: Find breaking news, multimedia, reviews &amp; opinion on Washington, business, sports, movies, travel, books, jobs, education, real estate, cars &amp; more at 
          <a href="https://l.facebook.com/l.php?u=http%3A%2F%2Fnytimes.com%2F&amp;h=ATOrnBBFfibuzpZpg2CgLINUxFhqRsJK-01sppYtBca_WdTI0r3AVrsykVN5BJRlj807pMUdROAtPKR8GTUjw4bvyNetZR5fDw2dm2wjmYIIm04i9aUa25dwUhxMKZYpjA" target="_blank" data-ft="{&quot;tn&quot;:&quot;-U&quot;}" rel="noopener nofollow" data-lynx-mode="async">nytimes.com.
          </a>
        </div>
        <div class="_59tj _2iau">
          <div>
            <div class="_6lz _6mb _1t62 ellipsis">nytimes.com
            </div>
            <div class="">
              
            </div>
          </div>
        </div>
      </div>
      <a href="http://www.nytimes.com/" tabindex="-1" target="_blank" class="_52c6" rel="nofollow" data-lynx-mode="asynclazy" data-lynx-uri="https://l.facebook.com/l.php?u=http%3A%2F%2Fwww.nytimes.com%2F&amp;h=ATMdV2czGoe-IzwQhAGehtQtUK1O19jOX3SEo0NjuM1Gw1z3yyIr_haKZ-OypVqFkCXq6sbV1cj9ZDJihAn06hsKPCXyt4JzcyAmhscbbLT5AC5k5gUgZ7zL0sa2lA">
        
      </a>
    </div>
  </span>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>

